.git
.gitignore
.DS_Store
node_modules
npm-debug.log
.env
.env.local
README.md
QUICKSTART.md
ideas.md
.prettierignore
.prettierrc
tsconfig.json
tsconfig.node.json
components.json
vite.config.ts
patches
.manus-logs
